<h1>About</h1>
<hr class="dropdown-divider">
<p class="card-text">This is a simple CRUD app I made while learning Ruby on Rails</p>
<p class="card-text">Visit my Instagram - <%= link_to '@dork_v3.0', 'https://www.instagram.com/dork_v3.0', target: :_blank %> </p>
<p class="card-text">Visit my Twitter - <%= link_to '@dork_v2', 'https://twitter.com/dork_v2', target: :_blank %> </p>
<p class="card-text">Visit my GitHub - <%= link_to 'divyashC', 'https://github.com/divyashC/', target: :_blank %> </p>
<hr class="dropdown-divider">